@font-face {
  font-family: 'font-coolvetica';
  src: url('./coolvetica\ rg\ it.ttf') format('ttf'),
       url('./coolvetica\ rg\ it.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
